<h1>Sales</h1>

{{! READ table }}
<table>
  <thead>
    <tr>
      {{#each sales.[0]}}
      <th>{{@key}}</th>
      {{/each}}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each sales}}
    <tr>
      <td>{{this.saleID}}</td>
      <td>{{this.saleDate}}</td>
      <td>{{this.customerFullName}}</td>
      <td>{{this.employeeFullName}}</td>

      {{! DELETE form }}
      <form id='delete_sale_form'>
        <input type='hidden' name='delete_sale_id' value='{{this.saleID}}' />
        <td><button type='submit'>Delete</button></td>
      </form>
    </tr>
    {{/each}}
  </tbody>
</table>

{{! CREATE form }}
<h2>Add a New Sale</h2>
<form class="cuForm" id="create_sale_form">
  <label for="create_customer_ID_from_dropdown_Input">Customer:</label>
  <select name="create_customer_ID_from_dropdown_Input" id="create_customer_ID_from_dropdown_Input" >
    <option value="" disabled selected>Select a Customer</option>
    {{#each customers}}
    <option value="{{this.customerID}}">{{this.customerFullName}}</option>
    {{/each}}
  </select>

  <label for="create_employee_ID_from_dropdown_Input">Employee:</label>
  <select name="create_employee_ID_from_dropdown_Input" id="create_employee_ID_from_dropdown_Input" required>
    <option value="" disabled selected>Select an Employee</option>
    {{#each employees}}
    <option value="{{this.employeeID}}">{{this.employeeFullName}}</option>
    {{/each}}
  </select>

  <label for="create_saleDateInput">Sale Date:</label>
  <input type="date" name="create_saleDateInput" id="create_saleDateInput" required>

  <input type="submit" value="Add Sale">
</form>

{{! UPDATE form }}
<h2>Update a Sale</h2>
<form class="cuForm" id="update_sale_form">
  <label for="update_sale_ID_from_dropdown_Input">Select Sale:</label>
  <select name="update_sale_ID_from_dropdown_Input" id="update_sale_ID_from_dropdown_Input" required>
    <option value="" disabled selected>Select a Sale</option>
    {{#each sales}}
    <option value="{{this.saleID}}">{{this.saleID}}</option>
    {{/each}}
  </select>

  <label for="update_customer_ID_from_dropdown_Input">Customer:</label>
  <select name="update_customer_ID_from_dropdown_Input" id="update_customer_ID_from_dropdown_Input" >
    <option value="" disabled selected>Select a Customer</option>
    {{#each customers}}
    <option value="{{this.customerID}}">{{this.customerFullName}}</option>
    {{/each}}
  </select>

  <label for="update_employee_ID_from_dropdown_Input">Employee:</label>
  <select name="update_employee_ID_from_dropdown_Input" id="update_employee_ID_from_dropdown_Input" required>
    <option value="" disabled selected>Select an Employee</option>
    {{#each employees}}
    <option value="{{this.employeeID}}">{{this.employeeFullName}}</option>
    {{/each}}
  </select>

  <label for="update_saleDateInput">Sale Date:</label>
  <input type="date" name="update_saleDateInput" id="update_update_saleDateInput"required>

  <input type="submit" value="Update Sale">
</form>