<h1>Suppliers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each suppliers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the attributes}}
        {{#each suppliers}}
        <tr>
            <td>{{this.supplierID}}</td>
            <td>{{this.supplierName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phoneNumber}}</td>

            {{! DELETE form }}
            <form id='delete_supplier_form'>
                <input type='hidden' name='delete_supplier_id' value='{{this.supplierID}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
{{!-- CREATE FORM --}}
<h2>Add a New Supplier</h2>
<form class="cuForm" id="create_supplier_form">
    <label for="supplierNameInput">Supplier Name: </label>
    <input type="text" name="supplierNameInput" id="supplierNameInput" required>

    <label for="emailInput">Email: </label>
    <input type="emial" name="emailInput" id="emailInput" required>

    <label for="phoneNumberInput">PhoneNumber: </label>
    <input type="text" name="phoneNumberInput" id="phoneNumberInput" required>
    <input type="submit" value="Add Supplier">
</form>
    

{{!-- UPDATE form --}}
<h2>Update an Supplier</h2>
<form class="cuForm" id="update_supplier_form">
    <label for="supplier_ID_from_dropdown_Input">Select Supplier: </label>
    <select name="supplier_ID_from_dropdown_Input" id="supplier_ID_from_dropdown_Input" required>
        <option value="" disabled selected>Select an Supplier</option>
        {{#each suppliers}}
        <option value="{{this.supplierID}}" required>
            {{this.supplierID}} - {{this.supplierName}} 
        </option>
        {{/each}}
    </select>

    <label for="emailInput">Email: </label>
    <input type="emial" name="emailInput" id="emailInput" required>

    <label for="phoneInput">PhoneNumber: </label>
    <input type="text" name="phoneNumberInput" id="phoneNumberInput" required>

    <input type="submit" value="Update Supplier">
</form>